:root {
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.navbar-container {
  background-color: transparent;
  color: transparent;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-options ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  margin-right: 4rem;
}

.navbar-options li {
  position: relative;
}

.navbar-options a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: 'Bahnschrift Condensed', sans-serif;
}

.navbar-options .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.navbar-options li:hover .dropdown {
  color: #113259;
  display: block;
}

.content {
  padding-bottom: 1200px;
  height: auto;
  color: black;
  position: relative;
  margin-top: 0px;

}

.content .div1 {
  font-family: Arial;
  padding-left: 20px;
  padding-bottom: 25px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .h3 {
  font-size: 20px;
}

.content .h1 {
  font-family: 'Bahnschrift Condensed', sans-serif;
  font-size:  80px;

}
.content .p {
  font-size: 16px;
}

.content .div1 {
  font-family: Arial;
  padding-left: 20px;
  padding-bottom: 25px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha o texto à esquerda */
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn1 {
  margin-top: 20px; /* Adiciona margem acima do botão */
  align-self: flex-start; /* Centraliza verticalmente o botão */
}


  
}
input {
  background-color: white;
  color: gray;
}
