:root {
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.navbar-container {
  background-color: transparent;
  position: fixed;
  color: transparent;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-options ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  margin-right: 4rem;
}

.navbar-options li {
  position: relative;
}

.navbar-options a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-family: 'Bahnschrift Condensed', sans-serif;
}

.navbar-options .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.navbar-options li:hover .dropdown {
  color: #113259;
  display: block;
}



.content {
  padding-bottom: 1200px;
  height: auto;
  margin: auto;
  position: relative;
}

.content .background {
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
}
input {
  background-color: white;
  color: gray;
}
