.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #66B3B3;
    color: aliceblue;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .newsletter-form input[type="email"],
  .newsletter-form button {
    margin-top: 10px;
  }
  
  .image-newsletter {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
  }
  
  .image-newsletter img {
    width: 100%;
    height: auto;
  }
  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .subscribe {
    display: flex;
  }
  
  .subscribe input[type="email"],
  .subscribe button {
    flex: 1;
  }
  
  .subscribe input[type="email"] {
    padding: 15px 100px; /* Ajuste conforme necessário */
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    transition: border-color 0.3s ease-in-out;
  }
  
  .subscribe input[type="email"]::placeholder {
    padding: 15px 50px; /* Ajuste conforme necessário */
  }
  
  
  .subscribe button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-family: 'Bahnschrift Condensed', sans-serif;
  }

  .subscribe button:hover {
    background-color: #096A6A;
    color: black
  }
  
  
  .subscribe input[type="email"]:focus {
    border-color: #ffffff;
    outline: none;
  }
  